<h2 class="is-size-1 page-title">Launches</h2>
<nav class="pagination">
    <a class="button is-success pagination-previous" href="/?page={{prevPage}}">Previous Page</a>
    <a class="button is-success pagination-next" href="/?page={{nextPage}}">Next Page</a>
</nav>
{{#each launches as |launch|}}
{{> launch-details}}
{{/each}}
<nav class="pagination">
    <a class="button is-success pagination-previous" href="/?page={{prevPage}}">Previous Page</a>
    <a class="button is-success pagination-next" href="/?page={{nextPage}}">Next Page</a>
</nav>