<div class="search-header level">
    <h2 class="is-size-1 search-title ">Search</h2>
    <p class="is-size-5 ">Search for a launch by name</p>
    <div class="searchBox">
        <input type="text" class="search-bar is-size-3">
        <button id="postSearch" class="button is-success" disabled>Search</button>
    </div>
</div>
</div>
<div class="is-size-3 noResults"></div>
{{!-- TODO: Remove after implementation --}}
<p class="title is-1" style="text-align:center">Coming Soon</p>
{{#each launches as |launch|}}
{{> launch-details}}
{{/each}}
<script src="/js/search.js"></script>