<div class="search-header level">
    <h2 class="is-size-1 search-title is-level">Search</h2>
    <p class="is-size-5 is-level">Search for a launch by name</p>
    <div>
        <input type="text" class="search-bar is-size-3 is-level">
        <div class="buttons is-centered is-level">
            <button type="submit" id="search" class="button is-success is-level mt-2">Search</button>
        </div>
    </div>
</div>
{{#each launches as |launch|}}
{{> launch-details}}
{{/each}}