/* global elements */
@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');
:root {
    --light: #d2d2d2;
    background-color: #222;
}

* {
    font-family: 'K2D', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--light);
}

*::-webkit-scrollbar {
    width: 1em;
}
 
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
*::-webkit-scrollbar-thumb {
  outline: 1px solid slategrey;
  background-color: darkgrey;
}

:is(a, p).title {
    color: var(--light) !important;
}

i.title {
    margin-bottom: 0 !important;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: white !important;
}

.title-link {
    text-decoration: underline;
}

.page-title {
    margin-bottom: 1.5rem;
    text-align: center;
}

/* login/signup pages */
.layoutLogin {
    display: flex;
    flex-direction: column;
}

.layoutLogin .hero {
    margin-top: 4rem;
}

.loginError {
    color: red;
}

.loginBtn {
    display: flex;
    justify-content: center;
}

.otherActionMessage {
    text-align: center;
}

.otherActionMessage a {
    color: blue;
    text-decoration: underline;
}

.otherActionMessage a:hover {
    color: blue !important;
}

/* header bar for main page layout */
.layoutHeader {
    display: flex;
    padding: 0.75rem 1.25rem;
    border-bottom: 2px solid var(--light);
    line-height: 1rem;
}

.layoutHeader h1 {
    margin-bottom: 0 !important;
    padding-top: 1rem;
}

.layoutHeader .title {
    color: var(--light) !important;
}

.headerContent {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.nextLaunch {
    display: flex;
    flex-wrap: wrap;
}

.nextLaunch .title-link {
    margin-left: 0.75rem;
}

/* below header */
main {
    display: flex;
    flex-grow: 1;
}

/* sidebar for main layout */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 250px;
    min-width: 250px;
    padding: 1.5rem 0;
    border-right: 2px solid var(--light);
}

.sidebar :is(a, p) {
    font-size: 2rem;
    width: 100%;
    text-align: end;
}

.sidebar a:hover {
    color: #222 !important;
}

.sidebar-group {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.sidebar-group:not(:first-child) {
    margin-top: 2rem;
}

.sidebar-group > * {
    padding-right: 0.5rem;
}

.sidebar-label {
    font-size: 1.1rem;
    text-transform: uppercase;
    opacity: 75%;
}

.sidebar-link {
    margin-top: 0.5rem;
    transition: 0.2s ease-in-out;
}

.sidebar-link:hover {
    background-color: white;
}

/* main content area */
.layoutContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 0.5rem;
    overflow: hidden;
}

.contentBox {
    display: flex;
    flex-direction: column;
    min-height: min-content; /* needs vendor prefixes */
}

/* home page */
/* launch details */
.launch-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 25%;
}

.launch-card:not(:first-of-type) {
    margin-top: 2rem;
}

.launch-icon {
    width: 200px;
    height: 200px;
    margin-right: 2rem;
}

.launch-details {
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
}

/* search/favorites page */
.search-header, .favorites-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.searchBox {
    margin: 0.5rem auto;
}

.search-bar {
    border-radius: 0.5rem;
    text-align: center;
}

#postSearch {
    height: 100%;
    border-radius: 0.5rem;
}

.noResults {
    text-align: center;
}

/* single launch page */
.tile.is-ancestor {
    padding: 2rem;
}

.tile {
    border-radius: 0.5rem;
    color: #222;
}

.tile.is-child {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.tile :is(a, p).title {
    color: black !important;
}

.launch-tile {
    background-color: gray;
}

.tile > .content {
    margin-bottom: 0;
}

.launch-tile a {
    text-decoration: none !important;
}

.title-box {
    display: flex;
    justify-content: space-between;
}

.fa-star {
    color: rgb(255, 166, 0);
}

.fa-check {
    color: greenyellow;
}

.fa-x {
    color: red;
}

.tile-icon {
    margin: auto;
}

.rocket-tile .content:not(:first-child) {
    margin-top: 1rem !important;
    line-height: 1.75rem;
}

.rocket-img {
    margin-top: 2.5rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.launch-tile iframe {
    min-height: 500px;
}

/* comments section */
.comments {
    display: flex;
    flex-direction: column;
}

.comments > .title {
    text-align: center;
}

.commentBox {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto 4rem;
}

#commentText {
    width: 100%;
    height: 100%;
    padding: 0.15rem 0.5rem;
}

#postComment {
    height: 100%;
}

.comment-card {
    margin-bottom: 2rem;
    margin-left: 15%;
}

.comment-card .title {
    margin-bottom: 0.25rem;
}

/* hamburger menu button */
.headerBtn {
    display: none;
    margin-top: auto;
    margin-right: 1.25rem;
}

/* medium devices and below */
@media only screen and (max-width: 992px) {
    /* hamburger menu button */
    .headerBtn {
        display: block;
    }

    /* sidebar */
    .sidebar {
        min-width: 100vw;
        border: none;
    }

    .sidebar :is(a, p) {
        font-size: 3rem !important;
        text-align: center;
    }
    
    .sidebar:not(.show) {
        margin-left: -100vw;
        transition: 0.3s ease-in-out;
    }

    .sidebar.show {
        margin-left: 0;
        transition: 0.3s ease-in-out;
    }

    /* launch details */
    .launch-card {
        margin-left: 10%;
    }
}

/* small devices and below */
@media only screen and (max-width: 768px) {
    /* header */
    .layoutHeader :is(p, a) {
        font-size: 2rem;
    }

    .layoutHeader :is(h1, i) {
        font-size: 2.5rem !important;
    }

    /* sidebar */
    .sidebar {
        min-width: 100vw;
        border: none;
    }

    .sidebar :is(a, p) {
        font-size: 1.75rem !important;
    }
    
    /* launch details */
    .launch-card {
        margin-left: 10%;
    }
}

/* extra small devices */
@media only screen and (max-width: 600px) {
    :root {
        font-size: 0.7rem;
    }

    /* header */
    h1 {
        padding: 0 !important;
    }

    .headerBtn {
        margin-right: 1.75rem;
    }

    .headerBtn i {
        font-size: 4rem !important;
    }

    /* launch details */
    .launch-card {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 2%;
    }

    .launch-icon {
        width: 125px;
        min-width: 125px;
        height: 125px;
        margin-right: 2rem;
    }

    .launch-link {
        font-size: 1.75rem !important;
    }
    
    .launch-details {
        overflow: hidden;
        white-space: nowrap;
        word-break: keep-all;
        text-overflow: ellipsis;
    }

    .launch-details :is(i, a, p):not(.launch-link) {
        font-size: 1.5rem !important;
    }
}