/* global elements */
@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');
:root {
    --light: #d2d2d2;
}

* {
    font-family: 'K2D', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #222;
    color: var(--light);
}

.title {
    color: var(--light) !important;
}

a {
    color: inherit;
    text-decoration: none;
}

.title-link {
    text-decoration: underline;
}

.page-title {
    margin-bottom: 1.5rem;
}

/* login/signup pages */
.layoutLogin {
    display: flex;
    flex-direction: column;
}

.layoutLogin .hero {
    margin-top: 4rem;
}

.loginError {
    color: red;
}

.loginBtn {
    display: flex;
    justify-content: center;
}

.otherActionMessage {
    text-align: center;
}

.otherActionMessage a {
    color: blue;
    text-decoration: underline;
}

/* header bar for main page layout */
.layoutHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 0.75rem 1.25rem;
    line-height: 1rem;
    border-bottom: 2px solid var(--light);
}

.layoutHeader h1 {
    margin-bottom: 0 !important;
    padding-top: 1rem;
}

.nextLaunch {
    display: flex;
    flex-wrap: wrap;
}

.nextLaunch .title-link {
    margin-left: 0.75rem;
}

/* below header */
main {
    display: flex;
    flex-grow: 1;
}

/* sidebar for main layout */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 175px;
    padding: 1.5rem 0;
    border-right: 2px solid var(--light);
}

.sidebar :is(a, p) {
    width: 100%;
    text-align: end;
}

.sidebar-group {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.sidebar-group:not(:first-child) {
    margin-top: 2rem;
}

.sidebar-group > * {
    padding-right: 0.5rem;
}

.sidebar-label {
    font-size: 1.1rem;
    text-transform: uppercase;
    opacity: 75%;
}

.sidebar-link {
    margin-top: 0.5rem;
    transition: 0.2s ease-in-out;
}

.sidebar-link:hover {
    background-color: white;
}

/* main content area */
.layoutContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
}

/* home page */
/* launch details */
.launch-card {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: center;
}

.launch-card:not(:first-of-type) {
    margin-top: 2rem;
}

.launch-icon {
    max-height: 200px;
    width: auto;
    margin-right: 2rem;
}

/* search/favorites page */
.search-header, .favorites-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.search-bar {
    border-radius: 0.5rem;
    text-align: center;
}